#expo
EAS_PROJECT_ID=XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX

#posthog 
EXPO_PUBLIC_POSTHOG_API_KEY=phc_

#sentry
SENTRY_AUTH_TOKEN=sntrys_
EXPO_PUBLIC_SENTRY_DSN=https://xxxxxx@xxxxxx.ingest.us.sentry.io/xxxxxx
SENTRY_ORG=
SENTRY_PROJECT=

#supabase
EXPO_PUBLIC_SUPABASE_URL=https://xxxxxx.supabase.co
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable

#google oauth
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=00000-xxxx.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=0000000-xxxxxxxxxx.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_IOS_URL_SCHEME=com.googleusercontent.apps.0000000-xxxxxxxxxx
