# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
.vscode

# template
google-services.json

#supabase
supabase/.temp
supabase\.temp
**/supabase/.temp
supabase/.temp/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android

.env.local

# Firebase (contains project-specific keys — do not commit)
#idk why this one below is in here
GoogleService-Info.plist
rntemplate-491820-firebase-adminsdk-fbsvc-c858c9acd0.json